<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SIC-FishCtrl WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SIC-FishCtrl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1ADA33AB1BC12F6000D65D9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1ADA33C41BC12F6000D65D9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1ADA33CF1BC12F6000D65D9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1ADA33D81BC12F6000D65D9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
